name: Build and Push Docker Image Copy

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
  workflow_dispatch:

env:
  REGION: asia-east1
  PROJECT_ID: docker-ci2
  REPO_NAME: spy
  IMAGE_NAME: ec
  IMAGE_TAG: ${{ github.sha }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:

    # 0️⃣ Cache Bazel
    - name: Cache Bazel
      run:
        echo "No caching for copy workflow"
   